<table class="table table-stripped">
    <thread>
        <tr>
            <th>Category</th>
            <th>Title</th> 
            <th>Genre</th>
	        <th>Year</th>
	        <th>Duration</th>
            <th>Comments</th>
        </tr>
    </thread>

</table>